@font-face {
  font-family: Vazir;
  font-display: auto;
  src: local('Vazir'), url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.woff2') format('woff2');
}
 * {
     font-family: Vazir !important;
 }
